<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> KOR WEB </title>
</head>
<body>
    <div th:fragment = "header">
        <!-- 네이게이션 바 코드 붙여넣기 -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <!-- [1] 헤더의 로고에 img 마크업 추가 하고 링크 "/" index페이지로 이동. -->
                <a class="navbar-brand" href="/"> <img src="/img/logo.png" /> </a>
                <!-- [2] 반응형 (콜렙스)버튼 : 특정한 브라우저(디바이스)가 작아질때 나타는 버튼 -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- [3] 헤더 메뉴들 -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- 왼쪽 메뉴들 -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- [4] 메뉴1개 -->
                        <li class="nav-item">
                            <a class="nav-link" href="#"> 회원가입 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> 로그인 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> 게시판 </a>
                        </li>
                        <!-- [5] 드랍메뉴 -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                판매제품
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"> 커피 </a></li>
                                <li><a class="dropdown-item" href="#"> 스무디 </a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"> MD </a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- 오른쪽 메뉴들 -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>